<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OKResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OKResizer.Properties.Settings>
            <setting name="maximumSize" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="jpegQuality" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="htmlFilePrefix" serializeAs="String">
                <value>gallery/</value>
            </setting>
            <setting name="htmlClass" serializeAs="String">
                <value>gallery_image</value>
            </setting>
            <setting name="doNotCrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="captionHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="renameOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveAllJpg" serializeAs="String">
                <value>False</value>
            </setting>
        </OKResizer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
